<script src="../build/backdrop.js"></script>

<style>
  body {padding: 20px; font-family: sans-serif; font-size: 20px;}
  #testElm1 {position: absolute; top: 200px; left: 400px; width: 200px; height: 300px; background: red;}
  ul {list-style: none; margin: 0; overflow: hidden;}
  li {float: left; line-height: 100px; width: 100px; text-align: center; margin-right: 20px; background: green;}
</style>

<div id="testElm1"></div>

<ul>
  <li>aaa</li>
  <li>bbb</li>
  <li>ccc</li>
  <li>ddd</li>
  <li>eee</li>
<ul>

<script>
  var b = new Backdrop({
    onClick: function (evt) {
      console.log('You clicked the backdrop.');
    }
  });
  b.add(document.querySelector('#testElm1'));
  b.add(document.querySelectorAll('li'))
  b.remove(document.querySelectorAll('li')[1])
  b.show();
</script>